.pathway-banner {
  margin-bottom: 70px;
  position: relative; }
  .pathway-banner .background {
    width: 100%;
    object-fit: cover; }
  .pathway-banner .logo {
    position: absolute;
    width: 50%;
    aspect-ratio: 714/92;
    top: 15%;
    left: 8%; }

.content {
  margin-left: 150px; }
  .content p {
    width: 40%;
    color: #6564DB;
    font-weight: bold;
    font-size: 24px; }
  @media (max-width: 1024px) {
    .content {
      margin-left: 70px; }
      .content p {
        width: 50%; } }
  @media (max-width: 526px) {
    .content p {
      width: 80%; } }
  @media (max-width: 320px) {
    .content {
      margin-left: 20px;
      margin-right: 20px;
      width: 100%;
      text-align: center; } }

.can-access-content {
  margin-top: 60px;
  margin-bottom: 80px;
  background-color: #f7f7f0fa; }
  .can-access-content .can-access-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 130px;
    margin-right: 130px;
    padding-top: 60px;
    padding-bottom: 60px; }
    .can-access-content .can-access-list .can-access-item {
      padding: 20px;
      width: calc(33.33% - 40px); }
      .can-access-content .can-access-list .can-access-item img {
        width: 100%;
        aspect-ratio: 298/212;
        object-fit: cover;
        border-radius: 8px; }
      .can-access-content .can-access-list .can-access-item .title {
        display: flex;
        align-items: flex-end;
        padding-top: 17px;
        padding-bottom: 7px;
        padding-left: 10px; }
        .can-access-content .can-access-list .can-access-item .title img {
          width: 50px;
          height: 50px; }
        .can-access-content .can-access-list .can-access-item .title p {
          margin: 0;
          color: #6564DB;
          font-weight: bold;
          margin-left: 10px;
          padding-bottom: 4px;
          height: fit-content;
          font-size: 24px; }
      .can-access-content .can-access-list .can-access-item .description {
        padding-left: 10px;
        margin-top: 10px; }
      @media (max-width: 1024px) {
        .can-access-content .can-access-list .can-access-item {
          width: calc(49.99% - 60px); } }
      @media (max-width: 576px) {
        .can-access-content .can-access-list .can-access-item {
          width: calc(100% - 20px); } }
    @media (max-width: 1024px) {
      .can-access-content .can-access-list {
        margin-right: 50px;
        margin-left: 50px; } }
    @media (max-width: 320px) {
      .can-access-content .can-access-list {
        margin-right: 0px;
        margin-left: 0px; } }

.advantages {
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 100px; }
  .advantages .advantages-above {
    display: flex;
    width: 100%;
    padding-top: 140px; }
  .advantages .advantages-bottom {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 100px;
    padding-bottom: 100px; }
    .advantages .advantages-bottom .list-advantages-bottom {
      margin-top: 100px; }
  .advantages .list-advantages {
    width: 50%;
    margin-left: 150px; }
    .advantages .list-advantages .advantege-item {
      width: 60%;
      display: flex;
      align-items: center;
      margin-top: 35px; }
      .advantages .list-advantages .advantege-item img {
        width: 100px;
        height: 100px; }
      .advantages .list-advantages .advantege-item .detail-advantage-item {
        margin-left: 20px; }
        .advantages .list-advantages .advantege-item .detail-advantage-item .name-detail-advantage-item {
          color: #6564DB;
          font-weight: bold;
          font-size: 24px;
          margin-bottom: -10px; }
  .advantages .right-image {
    width: 50%; }
    .advantages .right-image img {
      width: 100%;
      aspect-ratio: 1562/1703;
      float: right; }
  .advantages .left-image {
    width: 50%; }
    .advantages .left-image img {
      width: 100%;
      aspect-ratio: 747/852;
      float: left; }
  @media (max-width: 1024px) {
    .advantages {
      margin-left: 70px;
      margin-right: 70px;
      margin-bottom: 0px;
      overflow: hidden; }
      .advantages .advantages-bottom {
        margin-top: 0; }
        .advantages .advantages-bottom .list-advantages-bottom {
          margin-top: 0; }
      .advantages .list-advantages {
        margin-left: 0px;
        width: 100%; }
        .advantages .list-advantages .advantege-item {
          width: 100%; }
      .advantages .left-image {
        display: none; }
      .advantages .right-image {
        display: none; } }
  @media (max-width: 320px) {
    .advantages {
      margin-left: 20px;
      margin-right: 20px; }
      .advantages .list-advantages {
        margin-left: 0px;
        width: 100%; }
        .advantages .list-advantages .advantege-item {
          width: 100%;
          flex-direction: column;
          align-items: center; }
          .advantages .list-advantages .advantege-item .detail-advantage-item {
            margin-left: 0;
            text-align: center; } }

.pathway-community {
  margin-top: 100px; }
  .pathway-community .text-pathway {
    color: #6564DB;
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 60px;
    margin-left: 150px;
    margin-right: 150px; }
  .pathway-community .list-card {
    background-color: #f7f7f0fa;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 150px 60px 150px; }
    .pathway-community .list-card .card-item {
      width: 26%;
      align-items: center; }
      .pathway-community .list-card .card-item img {
        border-radius: 50%;
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover; }
      .pathway-community .list-card .card-item p {
        text-align: center;
        color: #6564DB;
        font-weight: bold;
        font-size: 24px; }
  @media (max-width: 1024px) {
    .pathway-community {
      margin-left: 0px;
      margin-right: 0px; }
      .pathway-community .text-pathway {
        margin-left: 70px; }
      .pathway-community .list-card {
        padding: 60px 70px 60px 70px; } }
  @media (max-width: 576px) {
    .pathway-community .list-card {
      justify-content: center; }
      .pathway-community .list-card .card-item {
        width: 80%; } }
  @media (max-width: 320px) {
    .pathway-community .text-pathway {
      align-items: center; } }

.know-more {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px; }
  .know-more button {
    background-color: #6FC2B0;
    color: white;
    border-radius: 11px;
    padding: 10px 20px;
    border: none;
    font-size: 24px;
    font-weight: bold;
    height: 76px; }
  .know-more p {
    font-weight: bold;
    font-size: 36px; }
  @media (max-width: 380px) {
    .know-more button {
      margin-bottom: 10px;
      width: 80%; } }
