<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href="./../../css/contact-us.css" />
    <link rel="stylesheet" type = "text/css" href="./../../css/style.css" />
    <title>Document</title>
</head>
<body>
    <div class="container">
    <div class="container-contact-us">
            <div class="contact-us">
                <p class="main-text">Contact us</p>
                <div class="phone">
                    <p>+44 (0)28 9072 2044 <br>+61 (0) 2 6198 3312<br>sales@coresystems.biz</p>
                </div>
                <div class="social">
                    <p>Social media</p>
                    <div class="icon">
                        <a href=""><img src="../image/twitter.png" ></a>
                        <a href=""><img src="../image/instagram.png" ></a>
                        <a href=""><img src="../image/facebook .png" ></a>
                    </div>
                </div>
                <div class="address">
                    <p>Glenbank, 720 Crumlin Rd, Belfast, BT14 8AD, N.Ireland <br>Level 1, 18 National Circuit, Barton, ACT 2600, Australia</p>
                </div>
            </div>
            <div class="vertical"></div>
            <div class="email-form">
                <p class="main-text">Email form</p>
                <div class="description">
                    <p>If you prefer us to contact you leave your name, email address and a message here. <br>We will reply to you within one business day</p>
                </div>
                <div class="form">
                    <div class="form-row">
                        <label>Name</label>
                        <input type="text">
                    </div>
                    <div class="form-row">
                        <label>Email</label>
                        <input type="text">
                    </div>
                    <div class="form-row">
                        <label>Subject</label>
                        <input type="text">
                    </div>
                    <div class="form-row">
                        <label>Message</label>
                        <textarea></textarea>
                    </div>
                    <button>Submit</button>
                </div>
            </div>
    </div>
    <div class="image">
        <div class="big-image">
            <img src="../image/families.jpg" >
        </div>
        <div class="small-image">
            <img src="../image/through-the-gate.jpg" >
        </div>
    </div>
</div>
</body>
</html>