<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href="./../../css/contact-us.css" />
    <link rel="stylesheet" type = "text/css" href="./../../css/style.css" />
    <title>Document</title> 
    
</head>
<body>
    
   <div class="zone1">
       <h3 class="Contractus">Contract us</h3>
       <P>+44(0)28 9072 2044 <br>salle@coressytems.biz</P>
       <p>socia media <br>
       <img class="image1" src="https://tse1.mm.bing.net/th?id=OIP.QmG_1aRtsBCgHf9sgqcMRAHaHa&pid=Api&P=0&w=300&h=300" >
       <img class="image2" src="https://tse1.mm.bing.net/th?id=OIP.SVb-flIK3vc0uIm7_QkfFAHaGB&pid=Api&P=0&w=201&h=164">
       <img class="image3" src="https://tse4.mm.bing.net/th?id=OIP.r5KkI8tSgDDTMX9wbMXM-AHaHa&pid=Api&P=0&w=300&h=300" >
       </p>
       <p>Glebank, 720  Crumlin Road ,belfast, BT148AD, <br> N.Ireland</p>
   </div>
   
   
   
   <div class="zone2">
       <h3 class="EmailForm">Email Form</h3>
       <p>if you prefer us to  you , leave your name, <br>email address and a mesage here. <br>We will reply to you witthin one business day</p>
       <ul>
            Name<input type="text"><br>
            Email<input type="text"> <br>
            Subject<input type="text"> <br>
            Mesage<input type="text"> <br>
            <button>submit</button>
       </ul>
    
   </div> 
</body>
</html>