<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href="./../../css/pathway.css" />
    <link rel="stylesheet" type = "text/css" href="./../../css/style.css" />
    <title>Document</title>
</head>
<body>
    <div class="pathway-banner">
        <img src="../image/background.png" alt="">
    </div>
    <div class="content">
        <p>Core Pathway is an offender focused platform, 
            created to accelerate positive change in the justice system and improve outcomes.
        </p>
    </div>
    <div class="can-access-content">
        <div class="can-access-list">
        <div class="can-access-item">
            <img src="../image/in-prison.jpg">
            <div class="title">
                <img src="../image/jailblue-1.png">
                <p>In prison</p>
            </div>
            <div class="description">
                Supporting prisoners on using cell time productively, Staff managing their daily activities and Family to stay connected.
            </div>
        </div>
        <div class="can-access-item">
            <img src="../image/through-the-gate.jpg">
            <div class="title">
                <img src="../image/icon-through-the-gate.png">
                <p>Through the gate </p>
            </div>
            <div class="description">
                Preparing prisoners for successful re-entry into society. 
            </div>
        </div>
        <div class="can-access-item">
            <img src="../image/in-the-comunity.jpg">
            <div class="title">
                <img src="../image/icon-in-the-comunity.png">
                <p>In the community</p>
            </div>
            <div class="description">
                Helping prisoners navigate into their everyday life and dutie
            </div>
        </div>
    </div>
    </div>
    <div class="content">
        <p>Core Pathway is a collection of flexible,
         personalised apps and programs that can be configured to meet the needs of the individual
        </p>
    </div>
    <div class="advantages">
        <div class="advantages-above">
        <div class="list-advantages list-advantages-above">
            <div class="advantege-item">
                <img src="../image/calender.png">
                <div class="detail-advantage-item">
                    <p class="name-detail-advantage-item">Organisation skills</p>
                    <p class="description-detail-advantage-item">We can provide planning and organisational tools to support active re-entry.
                    </p>
                </div>
            </div>
            <div class="advantege-item">
                <img src="../image/communication.png">
                <div class="detail-advantage-item">
                    <p class="name-detail-advantage-item">Communication</p>
                    <p class="description-detail-advantage-item">Pathway enables offenders to send and receive on average 18million messages per year for current users/customers. 
                    </p>
                </div>
            </div>
            <div class="advantege-item">
                <img src="../image/education.png">
                <div class="detail-advantage-item">
                    <p class="name-detail-advantage-item">Education</p>
                    <p class="description-detail-advantage-item">Pathway provides on average 50,000 ebooks to offenders per year—offender’s access to ebooks on tablets to read at their own pace.
                    </p>
                </div>
            </div>
        </div>
        <div class="right-image">
            <img class="right-image" src="../image/in-prison.jpg" alt="">
             <div class="circle-1"></div>
             <div class="circle-2"></div>
             <div class="circle-3"></div>
        </div>
    </div>
    <div class="advantages-bottom">
        <div class="left-image">
            <img src="../image/left-image.jpg" alt="">
            <div class="circle-2"></div>
            <div class="circle-3"></div>
        </div>
        <div class="list-advantages list-advantages-bottom">
            <div class="advantege-item">
                <img src="../image/health.png">
                <div class="detail-advantage-item">
                    <p class="name-detail-advantage-item">Health</p>
                    <p class="description-detail-advantage-item">
                        Register for health services, health visits and consultations via video communications.
                    </p>
                </div>
            </div>
            <div class="advantege-item">
                <img src="../image/wellbeing.png">
                <div class="detail-advantage-item">
                    <p class="name-detail-advantage-item">Wellbeing</p>
                    <p class="description-detail-advantage-item">
                        Media, radio, podcasts, websites, e-games 
                        Pathway delivered on average 2,000 songs downloaded onto tablet devices per year.
                    </p>
                </div>
            </div>
            <div class="advantege-item">
                <img src="../image/entertaiment.png">
                <div class="detail-advantage-item">
                    <p class="name-detail-advantage-item">Entertainment & <br> Productivity Suite
                    </p>
                    <p class="description-detail-advantage-item">
                        Restricted internet access means it is possible to connect prisoners to external services digitally.
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="content">
        <p>Our approach is to deliver User-Centric Services throughout Core Pathway. 
        </p>
        <p>It enables us to focus on human beings and deliver support that is tailored to their individual needs.
        </p>
    </div>

    <div class="pathway-community">
        <p class="text-pathway">Pathway community</p>
        <div class="list-card">
            <div class="card-item">
                <img src="../image/prisoners.jpg">
                <p>Prisoners</p>
            </div>
            <div class="card-item">
                <img src="../image/through-the-gate.jpg">
                <p>Staff & Mentors</p>
            </div>
            <div class="card-item">
                <img src="../image/families.jpg">
                <p>Families & Friends</p>
            </div>
        </div>
    </div>

    <div class="know-more">
        <p>Would you like to know more?</p>
        <div class="button-container">
            <button>Download our Flipbook</button>
            <button>Request a Demo to day</button>
        </div>
    </div>
</body>
</html>